<ion-header slot="top">
  <h3 class="navBarTitle">حول التطبيق</h3>
  <img class="navBarIcons" (click)="dismiss()" src="assets/icon/arrowDown.svg"  style="float: left;">
</ion-header>

<ion-segment color="primary" mode="md" [(ngModel)]="category">
  <ion-segment-button mode="md" value="landfitness" checked layout="icon-start" ><ion-label>&nbsp;حول القاعة</ion-label><ion-icon name="information-circle-outline"></ion-icon></ion-segment-button>
  <ion-segment-button mode="md" value="teamwork" layout="icon-start"><ion-label>&nbsp;فريق البرمجة</ion-label><ion-icon name="md-contacts"></ion-icon></ion-segment-button>
</ion-segment>
   
<ion-content>
  <!-- =======*********======== About Land Fitness =======*********======== -->
  <div id="landFitnessDiv" [ngSwitch]="category">
      <ion-list *ngSwitchCase="'landfitness'">
        <!-- =============== Header Section =============== -->
        <img class="LFLogo" src="assets/imgs/landFitnessLogo.png">
        <img class="headerImg" src="assets/imgs/landFitnessHeader.png">
        <!-- =============== Details Section =============== -->
        <div class="detailsSection">
          <p><span>Land Fitness : </span>قاعة رياضية مجهزه  بأحدث الاجهزه الرياضية والمكملات الغذائية وبأنسب الاسعار وتتعامل باحدث الانظمه الالكترونية</p>       
          <p><span>مدير القاعة : </span>محمد سرحان بجاي</p>
          <p><span>العنوان : </span>شارع الزيتون _ مقابل بيت منجا العلوية _ مجاور حلويات الشهد</p>
        </div>
        <!-- =============== Contact Section =============== -->
        <div class="contactSection">
          <h2>التواصل</h2>    
          <hr>
          <div class="contactDetails">
            <div (click)="copyToClipboard('Land Fitness')"><img src="assets/imgs/FBIcon.png"><h4>Land Fitness</h4></div>
            <div (click)="copyToClipboard('Land_Fitness1')"><img src="assets/imgs/IGIcon.png"><h4>Land_Fitness1</h4></div>        
            <div (click)="copyToClipboard('07806116852')"><img src="assets/imgs/phone.svg"><h4>07806116852</h4></div>
          </div> 
        </div>

        </ion-list>
     </div>



  <!-- =======*********======== About Young Code =======*********======== -->
  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'teamwork'">
      <!-- =============== Header Section =============== -->
      <img class="YCLogo" src="assets/imgs/youngCode.png">

      <!-- =============== Details Section =============== -->
      <div class="developers">
        <img src="assets/imgs/hussain.png" (click)="openModal('hussain')">
        <img src="assets/imgs/hala.png" (click)="openModal('hala')">
      </div>

      <!-- =============== Contact Section =============== -->
      <div class="contactSectionYC">
        <div class="contactDetails">
          <div (click)="copyToClipboard('Young Code')"><img src="assets/imgs/FBIcon.png"><h4>Young Code</h4></div>
          <div (click)="copyToClipboard('07804834849')"><img src="assets/imgs/phone.svg"><h4>07804834849</h4></div>
        </div> 
      </div>
    </ion-list>
  </div>
</ion-content> 



<div class="modal" id="devModal"><div class="modal-container">
  <h2 class="modal-header">معلومات المبرمج</h2>

  <div class="modal-body">
    <div id="userModalTop">
      <img src="../../assets/imgs/{{developer.engName}}.png">
      <h2>{{developer.name}}</h2>
    </div>
    <div class="modal-information">
      <hr style="margin-bottom: 10%;">
      <h3>{{developer.details}}</h3>
      <h3><span>رقم الهاتف : </span>{{developer.phone}}</h3>
    </div>
  </div>

  <h2 class="modal-footer" (click)="closeModal()">اغلاق</h2>
</div></div>