// =============== Nav Bar Section ===============

.navBarIcons{height: 12px; margin: 18px 20px;}

ion-label{
     font-size: 18px;
     font-weight: bold;
}

// =============== Header Section ===============
.YCLogo{display: block; margin: 10% auto; width: 80%;}
// =============== Details Section ===============
#landFitnessDiv *{font-family: 'tajawal', sans-serif;}
.detailsSection{
     font-size: 18px; text-align: justify;
     margin: 10px 20px;
} .detailsSection p{margin: 10px 0;} .detailsSection span{color: #0050A1; font-weight: bold;}

.developers{display: flex; justify-content: center; margin: 10% 0; margin-bottom: 5%}
.developers img{margin: 0 3%; width: 36%; border-radius: 100%; border: 1px solid #707070; object-fit: cover;}
// =============== Contact Section ===============
.contactSection{
     margin-top: 20px;
     text-align: center;
     display: flex; flex-direction: column; flex-wrap: wrap;
}
.contactSection hr{background-color: #0050A1; width: 60%; margin: 10px auto; height: 2px;}
.contactDetails{margin: auto;}
.contactDetails div{clear: both; height: 50px; padding: 10px 0;}
.contactDetails div img{float: left; height: 30px; border-radius: 50px;}
.contactDetails div h4{float: left; margin-left: 10px; line-height: 30px; font-weight: bold;}

.contactSectionYC{display: flex; flex-direction: column; flex-wrap: wrap;}



.modal-information hr{background-color: #0070ff;}
.modal-information h2{color: #0070ff;}
.modal-information h3 span{color: #0070ff;}
.modal-information h3{font-size: 16px; text-align: justify;}
