<ion-content>
  <div >
      <img src="assets/imgs/herostart.png">
    </div>
  <ion-card class="CardInfo">
    <ion-card-content class="EditContent">
      <ion-item>
        <img class="ImgHero" src="assets/imgs/heroone.png">        
        <ion-label>                  
          <h2 class="EditImgCard" > علي عباس عبد الجليل</h2><br><br>              
          <div> 
            <h3 class="EditImgCardAge"  >العمر:<span class="EditSpanHero">25</span></h3>  
            </div> 
          </ion-label>                
        </ion-item>
      </ion-card-content>
    </ion-card>
  <ion-card class="CardInfo">
    <ion-card-content class="EditContent">
      <ion-item>
        <img class="ImgHero" src="assets/imgs/heroone.png">                   
        <ion-label>
          <h2 class="EditImgCard" > علي عباس عبد الجليل</h2><br><br>                  
            <div> 
              <h3 class="EditImgCardAge"  >العمر:<span class="EditSpanHero">25</span></h3>  
              </div> 
          </ion-label>                    
        </ion-item>
      </ion-card-content>
    </ion-card>
  <ion-card class="CardInfo">
    <ion-card-content class="EditContent">
      <ion-item>
        <img class="ImgHero" src="assets/imgs/heroone.png">                   
        <ion-label>
          <h2 class="EditImgCard" > علي عباس عبد الجليل</h2><br><br>                      
          <div> 
            <h3 class="EditImgCardAge"  >العمر:<span class="EditSpanHero">25</span></h3>  
            </div> 
          </ion-label>                        
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
