.card{height: 110px; padding: 0; display: flex;}

.heroImg{
  float: left;
  height: 90px; width: 90px;
  margin: 9px 10px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 0px 3px 3px 0px #efefef;
}

.heroName{
  float: right; margin: 15px 10px; flex-grow: 1;
  font-weight: bold; text-align: center; color: black; line-height: 40px;
  overflow-x: scroll; overflow-y: hidden; white-space: nowrap;
}.heroName span{color:#e80000;}

.modal-information hr{background-color: #e80000;}
.modal-information h2{color: #e80000;}
.modal-information h3 span{color: #e80000;}