<ion-header slot="top">
  <h3 class="navBarTitle">مراسلة القاعة</h3>
  <img class="navBarIcons" routerLink="/tabs" src="assets/icon/arrow-left.svg"  style="float: left;">
</ion-header>

<ion-content padding>
  <div   class="Msg-Content" >
       <p class="EditParagraphStyle"> مرحبا  كم هو سعر الاشتراك الرشاقة للقاعة </p>
    </div>
  <p class="EditTimeChat">9:00 AM, Today</p>
  <div class="Msg-Contenter">
       <p class="EditParagraphStyle">مرحبا  كم هو سعر الاشتراك الرشاقة للقاعة </p>
    </div>
  <p class="EditTimeChat1">9:00 AM, Today</p> 
  <div class="Msg-Content">
       <p class="EditParagraphStyle"> شكرا لك </p>
    </div>
  <p class="EditTimeChat">9:00 AM, Today</p>         
  </ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-icon class="IconSend"size="large" name="paper-plane">
         </ion-icon>       
      <ion-textarea class="Msg_Footer" placeholder="اكتب رسالتك هنا ولك" >  
         </ion-textarea>       
      </ion-title>
    </ion-toolbar>
  </ion-footer>