    <ion-header>
        <ion-toolbar color="success" >
            <ion-title ><div>
                    <ion-icon class="EditIconNav" routerLink="/tabs" img src="assets/icon/arrow-left.svg" style="float: left" ></ion-icon>
                </div>
                    <div> <h2 class="navBarTitle">مراسلة القاعة </h2>
                  </div>
            </ion-title>
          </ion-toolbar>
  </ion-header>

<ion-content padding>
    <div   class="Msg-Content" >
    <p style="word-wrap: inherit;padding-right: 10px;">    مرحبا  كم هو سعر الاشتراك الرشاقة للقاعة </p>
    </div>
    <p style="margin: 0px 0px 0px 0px;float: right;color:#BCC5D3">9:00 AM, Today</p>
    <div class="Msg-Contenter">
      <p style="word-wrap: inherit;padding-right: 10px;">    مرحبا  كم هو سعر الاشتراك الرشاقة للقاعة </p>
    </div>
      <p style="margin: 0px 0px 0px 0px;float: left;color:#BCC5D3">9:00 AM, Today</p> 
      <div class="Msg-Content">
        <p style="word-wrap: inherit;padding-right: 10px;"> شكرا لك </p>

      </div>
        <p style="margin: 0px 0px 0px 0px;float: right;color:#BCC5D3">9:00 AM, Today</p>

          
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
        <ion-icon class="IconSend"size="large" name="paper-plane"></ion-icon>
       
          <ion-textarea class="Msg_Footer" placeholder="اكتب رسالتك هنا ولك" >  
             </ion-textarea>
       
    </ion-title>
  </ion-toolbar>
</ion-footer>