// ion-header{height: 48px; background-color: #fafafac9;}

// .navBarTitle{
//   line-height: 48px; text-align: center; font-weight: bold; color:black;
//   position: absolute; margin: 0; width: 100%;
// }

// .navBarIcons{
//   margin: 13px 20px; height: 22px; position: relative;
// }