  .navBarTitle{
         line-height: 48px; 
         text-align: center;
         font-size: 2rem; 
         padding: 0px; 
         margin: 1px;
         color:black;
    }
  .EditIconTabs{
         margin-top: 0.7rem;
    }
