<!-- <ion-header>
  <ion-toolbar color="success">
      <ion-title>
          <div  >
              <ion-icon size="large" img src="assets/icon/chat.svg"  style="float: right"></ion-icon>
              <ion-icon size="large" img src="assets/icon/info.svg" style="float: left" ></ion-icon>
              <h2 class="navBarTitle">Land fitness</h2>
            </div>
      </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content >
    <div >
        <img src="assets/imgs/product.png">
    </div>
   
        <ion-card class="CardInfo">
                <ion-card-header style="padding: 0px;">
                        <ion-card-title style="font-size: 26px;font-weight: bold;padding: 0em;text-align: center;">Gold Standard 100% Whey</ion-card-title>
                      </ion-card-header>
        <ion-card-content class="EditContent" style="padding: 0px;">
                <div class="item-inner"></div>
            <ion-item >
                <img class="productImgCard" src="assets/imgs/product1.png">&nbsp;&nbsp;
                <div style="padding: 0px;" class="EditDivCard"><span style="color:white;font-size: 40px;font-weight: bold;float: right;margin-right: 2rem;text-align: center;">120 </span>
               <span style="color:white;font-size: 26px;font-weight: bold;float: right;margin-right: 1.5rem;margin-bottom: -1rem;">الف د.ع
               </span>
                </div>
          
            </ion-item>
     
          </ion-card-content>
          </ion-card> 
          <ion-card class="CardInfo">
                <ion-card-header style="padding: 0px;">
                        <ion-card-title style="font-size: 26px;font-weight: bold;padding: 0em;text-align: center;">Bad Ass Whey</ion-card-title>
                      </ion-card-header>
        <ion-card-content class="EditContent" style="padding: 0px;">
                <div class="item-inner"></div>
            <ion-item >
                <img class="productImgCard" src="assets/imgs/product2.png">&nbsp;&nbsp;
                <div style="padding: 0px;" class="EditDivCard"><span style="color:white;font-size: 40px;font-weight: bold;float: right;margin-right: 2rem;text-align: center;">50 </span>
               <span style="color:white;font-size: 26px;font-weight: bold;float: right;margin-right: 1.5rem;margin-bottom: -1rem;">الف د.ع
               </span>
                </div>
          
            </ion-item>
     
          </ion-card-content>
          </ion-card>
          <ion-card class="CardInfo">
                <ion-card-header style="padding: 0px;">
                        <ion-card-title style="font-size: 26px;font-weight: bold;padding: 0em;text-align: center;">Tumbler Cup</ion-card-title>
                      </ion-card-header>
        <ion-card-content class="EditContent" style="padding: 0px;">
                <div class="item-inner"></div>
            <ion-item >
                <img class="productImgCard" src="assets/imgs/product3.png">&nbsp;&nbsp;
                <div style="padding: 0px;" class="EditDivCard"><span style="color:white;font-size: 40px;font-weight: bold;float: right;margin-right: 2rem;text-align: center;">50 </span>
               <span style="color:white;font-size: 26px;font-weight: bold;float: right;margin-right: 1.5rem;margin-bottom: -1rem;">الف د.ع
               </span>
                </div>
          
            </ion-item>
     
          </ion-card-content>
          </ion-card>
</ion-content>
