<ion-content >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"><ion-refresher-content pullingIcon="none"></ion-refresher-content></ion-refresher>
    <img class="headerImg" src="assets/imgs/productsHeader.png">

    <div class="content">
        
        <div class="card" *ngFor="let product of products">
            <h2 class="card-title">{{product.name}}</h2>
            <img class="card-img" src="{{getImg(product.idPr)}}"/>    
            <div class="card-footer">
                <pre id="cardBody{{product.idPr}}">{{product.body}}</pre>
                <h2 class="productPrice">{{product.price}}<span style="font-size: 18px;">&nbsp;د.ع</span></h2>
                <button class="card-button" (click)="showMore(product.idPr)" id="cardButton{{product.idPr}}">&nbsp;&nbsp;المزيد</button>
            </div>
        </div>

        <ion-infinite-scroll threshold="30px" (ionInfinite)="doScroll($event)"><ion-infinite-scroll-content loadingSpinner="null"><img id="loadingSVG" src="../../assets/imgs/loading.png"></ion-infinite-scroll-content></ion-infinite-scroll>
    </div>

</ion-content>
