  .EditContent{
         padding-bottom:3px;
         padding-left: 0px;
         padding-right: 0px;
         padding-top: 0px;
    }
  .CardInfo{
         border-radius: 1rem;
         box-shadow:4px 4px 0px 0px #DCDCDC;
         padding: 0px;
         border: 1px solid #DCDCDC;
    }
  .productImgCard{
         float: left;
         width: 155px; 
         height: 100px; 
         margin-top: 0.5rem;
         border-radius: 6px;
         padding: 0px;
    }
  .EditDivCard{
         float: right;
         width: 148px; 
         height: 100px; 
         margin-top: 0.9rem;
         border-radius: 20px 0px 0px 20px; 
         background-color: #3B0AB1;
         padding: 0em;
         margin-bottom: 0.8rem;
    }
  div.item-native{
         padding: 0px;
    }
  ion-card-content{
         width: 100%;
         height: auto;
         padding: 0 !important;       
    }
  .EditTextPrice{
         color:white;
         font-size: 26px;
         font-weight: bold;
         float: right;
         margin-right: 1.5rem;
         margin-bottom: -1rem;  
    }
  ion-card-header{
         padding: 0px;
    }
  ion-card-title{
         font-size: 26px;
         font-weight: bold;
         padding: 0em;
         text-align: center;
    }
  .PriceNumber{
         color:white;
         font-size: 40px;
         font-weight: bold;
         margin-right: 1.5rem;
         float:right;
         height: 47px;
         width:70px;
   }