
<ion-content>
 
     <div>
        <h2 class="TextEdit">عباس محمد علي </h2>
      </div>

   <div>
      <h4 class="TextEdit_right">نوع الاشتراك </h4>
      <h4 class="TextEdit_left">الايام المتبقية </h4>
   </div>
   <br><br> 
   <div > <img src="assets/imgs/type.png"  style="float: right; margin-right: 2em;padding: 0em;">
    <div id="circle"><p class="EditSpan">10 يوم  </p>
    </div>
  </div><br><br><br>
 <div style="text-align: center;width: 55%; margin-left: 4rem;" >
   <p class="InfoText">معلومات اللاعب </p>
 </div>
 <img src="assets/imgs/course.png" >

 <ion-card class="CardInfo" color="secondary" >
  <ion-card-content color="primary" class="EditContent">
    <ion-item>
        <img  style="float: left;width: 80px; height: 80px; margin-top: 0.5rem;border-radius: 50px;" src="assets/imgs/pro.png">
       
       
      <ion-label>
          <div class="IconTrue"><ion-icon size="large" img src="assets/icon/true.svg"  ></ion-icon>
          </div>  
         <h2 class="EditImgCard" > دفع ماكنه واقف</h2><br>
      
    <br>
     <div> <h3 class="EditImgCard" style="  margin-right: 2rem;" >3<span style="color:red; font-weight: bold;">X</span>10</h3>  
    </div> 
    </ion-label>  
      
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-card class="CardInfo">
    <ion-card-content class="EditContent">
      <ion-item>
          <img  style="float: left;width: 80px; height: 80px; margin-top: 0.5rem;border-radius: 50px;" src="assets/imgs/sit.svg">
         
         
        <ion-label>
            <div class="IconTrue"><ion-icon size="large" img src="assets/icon/Rectangle 11.svg"  ></ion-icon>
            </div>  
           <h2 class="EditImgCard" > دفع ماكنه جالس</h2><br>
        
      <br>
       <div> <h3 class="EditImgCard" style="  margin-right: 2rem;" >3<span style="color:red; font-weight: bold;">X</span>10</h3>  
      </div> 
      </ion-label>  
        
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
