<ion-content *ngIf="!isUser">
  <div id="signInForm">
    <div id="signInDiv">
      <h3>ادخل معرف الدخول الخاص بك</h3>
      <input type="text" [(ngModel)]="signInIdUs">
      <button type="button" (click)="signIn()">تسجيل دخول</button>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="isUser">
  <h2 style="text-align: center; margin: 5% 0;">{{user.name}}</h2>

  <div id="circles">
    <div class="circleDiv">
      <h4>نوع الاشتراك</h4>
      <div class="circle"><img class="EditImgDays" src="assets/imgs/{{user.joinType}}.png"></div>
    </div>
    <div class="circleDiv">
      <h4>الايام المتبقية</h4>
      <div class="circle" [ngStyle]="{'border-color': userDays(user.joinDay) > 20 ? '#009e45' : userDays(user.joinDay) > 10 ? '#0082E5' : '#E80000'}"><h2 [ngStyle]="{'color': userDays(user.joinDay) > 20 ? '#009e45' : userDays(user.joinDay) > 10 ? '#0082E5' : '#E80000'}" dir="ltr"><span>{{userDays(user.joinDay)}}</span></h2></div>
    </div>
  </div>
  <button id="userInfoButton" type="button" (click)="openModal('user', 'user')">معلومات اللاعب</button>




  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"><ion-refresher-content pullingIcon="none"></ion-refresher-content></ion-refresher>
  <img class="headerImg" src="assets/imgs/coursesHeader.png" >

  <ion-item>
    <ion-label>تمارين اليوم</ion-label>
    <ion-select id="courceDay" class="tools-input" #day (ionChange)="openDay(day.value)" cancelText = "الغاء" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option *ngIf="cources[0]?.length > 0" selected value="1">الأول</ion-select-option>
      <ion-select-option *ngIf="cources[1]?.length > 0" value="2">الثاني</ion-select-option>
      <ion-select-option *ngIf="cources[2]?.length > 0" value="3">الثالث</ion-select-option>
      <ion-select-option *ngIf="cources[3]?.length > 0" value="4">الرابع</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="content">
    <div *ngIf="trainings.length == 0"><img src="../../assets/imgs/error404.png" style="width: 40%; display: block; margin: 5% auto;"><h2 style="width: 100%; text-align: center;">لا توجد تمارين لعرضها</h2></div>

    <div class="card" *ngFor="let training of trainings" (click)="openModal(training, 'training')">
      <h4 class="trainingName">{{training.name}}<br><span>{{training.count}}</span></h4>
      <img class="trainingImg" src="{{apiUrl}}/api/img/trainings/{{training.idTr}}">
    </div>

  </div>

</ion-content>



<div class="modal" id="profileModal"><div class="modal-container">
  <h2 class="modal-header" id="modalHeader">معلومات التمرين</h2>

  <div class="modal-body" *ngIf="isUserModal">
    <div id="userModalTop">
      <img src="{{apiUrl}}/api/img/users/{{user.idUs}}">
      <h2>{{user.name}}</h2>
    </div>

    <div class="modal-information">
      <h2>الجسم</h2>    
      <hr>
      <h3><span>وزن اللاعب : </span>{{userDetails['wieght']}}</h3>
      <h3><span>طول اللاعب : </span>{{userDetails['tall']}}</h3>
      <h3><span>قطر الخصر : </span>{{userDetails['waistDiameter']}}</h3>
      <h3><span>قطر الذراع : </span>{{userDetails['armDiameter']}}</h3>
      <h3><span>قطر الفخذ : </span>{{userDetails['legDiameter']}}</h3>
      <h3><span>عرض الظهر : </span>{{userDetails['backWidth']}}</h3>
    </div>
    <div class="modal-information">
      <h2>الحساب</h2>    
      <hr>
      <h3 class="smallInfo"><span>نوع الحساب : </span>{{user.joinType}}</h3>
      <h3 class="smallInfo"><span>تاريخ التجديد : </span>{{user.joinDay}}</h3>
      <h3 class="smallInfo"><span>تأريخ الانضمام : </span>{{user.joinDate}}</h3>
    </div>
  </div>


  <div class="modal-body" *ngIf="!isUserModal">
    <img src="{{apiUrl}}/api/img/trainings/{{training.idTr}}">
    <h2>{{training.name}}</h2>
    <div class="modal-information">
      <h2>التفاصيل</h2>    
      <hr>
      <h3><span>التكرار : </span>{{training.count}}</h3>
      <h3><span>الشرح : </span>{{training.body}}</h3>
    </div>
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/1art4c_KgRQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2 class="modal-footer" (click)="closeModal()">اغلاق</h2>
</div></div>