
#circles{display: flex; justify-content: center; margin: 3% 0;}
.circleDiv{margin: 0 5%;}
.circleDiv h4{color:#0050A1; font-weight: bold; text-align: center;}
.circle{
  width: 23vw; height: 23vw;
  border-radius: 100px;
  border: 3px solid #0050A1;
  margin: 10px auto;
  clear: both; display: flex;
} .circle *{margin: auto; font-weight: bold;} .circle img{width: 60%;}

#userInfoButton{
  height: 36px; width: 50%; display: block; margin: 3% auto;
  background-color: white; border: 1px solid #0050A1; border-radius: 30px;
  font-size: 16px; font-weight: bold; color: #0050A1;
}




.card{height: 110px; padding: 0;}
.trainingCheckBox{border-radius: 100px; position: absolute; width: 32px; height: 32px; margin: 6px; margin-top: 70px; background-color: white;}

.trainingImg{
  float: left;
  height: 90px; width: 90px;
  margin: 9px 10px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 0px 3px 3px 0px #efefef;
}

.trainingName{
  float: right; margin: 15px 10px; flex-grow: 1;
  font-weight: bold; text-align: center; color: black; line-height: 40px;
  overflow-x: scroll; overflow-y: hidden; white-space: nowrap;
}.trainingName span{color: #e80000;}

#signInForm{width: 100%; height: 100%; display: flex; background-color: #000442;}
#signInDiv{width: 70%; margin: auto; text-align: center; color: white;}
#signInDiv input{width: 100%; height: 40px; text-align: center; font-weight: bold; color: black; border-radius: 10px; padding: 0 10px; margin: 5% 0;}
#signInDiv button{height: 40px; width: 50%; background-color: white; border-radius: 20px; font-size: 16px; font-weight: bold;}


.smallInfo{font-size: 20px;}.smallInfo span{font-size: 24px;};

#courceDay{border-radius: 10px; margin: 0 2%; box-shadow: 0px 1px 3px #b9b9b9;}

#loadingSVG{display: none;}