<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"><ion-refresher-content pullingIcon="none"></ion-refresher-content></ion-refresher>
  <img class="LFLogo" src="assets/imgs/landFitnessLogo.png">        
  <img class="headerImg" src="assets/imgs/homeHeader.png">

  <div class="content">
    
    <div class="card" *ngFor="let post of posts">
      <h2 class="card-title">{{post.title}}</h2>
      <img class="card-img" src="{{getImg(post.idPo)}}" />      
      <pre id="cardBody{{post.idPo}}">{{post.body}}</pre>
      <button class="card-button" (click)="showMore(post.idPo)" id="cardButton{{post.idPo}}">عرض المزيد</button>
    </div>

    <ion-infinite-scroll threshold="30px" (ionInfinite)="doScroll($event)"><ion-infinite-scroll-content loadingSpinner="null"><img id="loadingSVG" src="../../assets/imgs/loading.png"></ion-infinite-scroll-content></ion-infinite-scroll>
  </div>
</ion-content>
