<ion-content>
  <div >
    <img class="Center" src="assets/imgs/gym logo.png">        
      <div>
        <img src="assets/imgs/homeimg.png" >
        </div>
    </div>
  <ion-card style="border-radius:10px;width:340px; height: 340px;">
    <ion-card-header>
      <ion-card-title>فؤائد الماء
          </ion-card-title>
      </ion-card-header>
      <img class="EditImg"  src="assets/imgs/water.png" />
        <ion-card-content>
          <div>
            <input type="checkbox" class="read-more-state" id="post-1" />                  
              <p class="read-more-wrap">
                  يعدّ الماء جزءاً أساسياً ومهمّاً في جسم الإنسان، إضافةً إلى  ومهمّةً في جميع خلايا وأنسجةيعدّ الماء جزءاً أساسياً ومهمّاً في جسم الإنسان؛ حيث إنّه يشكل حوالي 60% من وزن الجسم، . وأعضاء.
                <span class="read-more-target">  حيث يشكل بنسبة 80% من جسم الانسان 
                   </span> 
                </p>
              <label for="post-1" class="read-more-trigger"></label>
           </div>
          </ion-card-content>
    </ion-card>
  </ion-content>