  .Center{
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 8pt;
         margin-top: 2rem;
    }
  .EditImg{
         padding-left: 2%;
         padding-right: 2%;
         height: 151px;
    }
  ion-card-header{
         padding: 0px;
    }
  ion-card-title{
         font-size: 26px;
         font-weight: bold;
         padding: 0em;
         text-align: center;
         margin:5px;     
    }
  .read-more-state {
         display: none;
    }
  .read-more-target {
         opacity: 0;
         max-height: 0;
         font-size: 0;
         transition: .25s ease;
    }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
         opacity: 1;
         font-size: inherit;
         max-height: 999em;
    }  
  .read-more-state ~ .read-more-trigger:before {
         content: 'اكمال القرائة';
    }  
  .read-more-state:checked ~ .read-more-trigger:before {
         content: 'رجوع';
    }
  .read-more-trigger {
         cursor: pointer;
         display: inline-block;
         color:#0050A1;
         font-size: 18px;
         border-top: 1px solid rgba(224, 214, 214, 0.897);
         width: 100%;
         text-align: center;
         font-weight: bold;
         margin-top: 8px;
         height: 38px;
    } 
  /* Other style */ 
  body {
         padding: 0 !important;
    }
    ion-card-content{
       padding: 0 !important;
    }
  p {
         padding: 2%;
         background: white;
         color:black;
         text-align: right;
    }
hr{
         display: block;
         margin-top: 0.5em;
         margin-bottom: 0.5em;
         margin-left: auto;
         border-style: inset;
         border-width: 0.5px;
         border-color: #a2a4ab;
  }

