
// .navBarTitle{
//     line-height: 26px; text-align: center;
//      font-size: 2rem; 
//      padding: 0px; margin: 0px;
//      color:black;
// }

.Center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8pt;
    margin-top: 2rem;
}
.EditImg{
    padding-left: 5%;
    padding-right: 5%;
}
.EditText{
margin-top: 16px;
margin-bottom: 10px;
font-weight: bold;
line-height: 1.2;
text-align: center;
font-size: 26px;
color: black;
}
.read-more-state {
    display: none;
  }
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'اكمال القرائة';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'less than';
  }

  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color:#0050A1;
    font-size: 18px;
    line-height: 2;
    border: 1px  blue;
    border-radius: -0.75em;
    width: 100%;
    text-align: center;
    font-weight: bold;

  }
  
  /* Other style */ 
  body {
    padding: 2%;
  }
  
  p {
    padding: 2%;
    background: white;
    color: #08286d;
    // border: 1px solid #339999;
    border-radius: .25em;
  }
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-left: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color: #a2a4ab;
}

