<ion-content>
  <div >
    <img class="Center" src="assets/imgs/gym logo.png">        
      <div>
        <img src="assets/imgs/homeimg.png" >
        </div>
    </div>
  <ion-card style="border-radius: 1.5em">
    <ion-card-title>
      <h2 class="EditText">فؤائد الماء</h2> 
      </ion-card-title>
      <img class="EditImg"  src="assets/imgs/water.png" />
        <ion-card-content>
          <div >
            <input type="checkbox" class="read-more-state" id="post-1" />                  
              <p class="read-more-wrap">
                    لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر<span class="read-more-target"> عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص،  
                   </span> 
                </p> <hr>
              <label for="post-1" class="read-more-trigger"></label>
           </div>
          </ion-card-content>
    </ion-card>
  </ion-content>